//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 18 22:02:22 2017
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

